/* Main Styles */

body{
  background-color: ;
}

a h1 {
  height: 250px;  
  background-image: url('images/DSCN3236a.jpg'); 
  background-size: 100%;
  background-repeat: no-repeat;

}

h1 {
  color: black;
  text-align: center;
}


/* Nav */

#navcontainer ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.w {
  width: 90%;
  margin: auto;
  text-align: justify;
}

.j {
text-align: justify;
}
/* Images */

.plant_images {
  height: 500px;
  width: 780px;
  position: relative;
  margin: 0 auto; 
    
}
images {
max-width: 100%;
}

[class^='sub_img_'] {
  height: 200px;
  width: 200px;
  display: block;
  position: absolute;
  z-index: 20; 
  background-color: antiquewhite;
  border: black 3px solid;
} 

.main_img {
  height: 400px;
  width: 400px;
  left: 190px;
  top: 50px;
  position: absolute;
  display: block;
  background-color: silver;
  z-index: 1;
  border: black 3px solid;  
}

/* Section */

section {
  text-align: center;
  margin-bottom: 60px;
  text-decoration: none;
}



p {
  text-align: left;
  
}



/* Media */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    body {
      background-color:aqua;
    }
    .sub_img_1 {
      display: none;
    }

    .sub_img_2 {
      display: none;
    }

    .sub_img_3 {
      display: none;
    }

    .sub_img_4 {
      display: none;
    }
}

@media (max-width: 40em) {
  [class^="sub_img"] {
    visibility: hidden;
  }

  .plant_images {
    width: 80%;
  }
  
  .main_img {   
    position: initial;
  }
}

@media only screen 
  and (min-device-width: 480px)  {
    
    .sub_img_1 {

    }
    
    .main_img {
     max-width: 100%;
     margin: auto;   
    }

    .sub_img_2 {
      right: 0;
    }

    .sub_img_3 {
      bottom: 0;
    }

    .sub_img_4 {
      bottom: 0;
      right: 0;
    }

}


/*  hover for photos */

div.images a:hover img {
    border: 5px solid green;
}


/*  Footer  */
footer {
  height: 250px;  
  img src= url('images/048a.jpg'); 
  background-size: 100%;
  background-repeat: no-repeat;
}

img.2{
  
}





















